@model Entitites.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <hr />
    <dl class="row" style = "border: 2px dashed black; padding: 15px;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReguestTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReguestTime)
        </dd>
    
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
